.subnav.navbar-fixed-top {
	z-index: 1020;
}

.navbar-search .search-query {
	width: 250px;
}

.navbar-search div.search-query {
	padding: 0;
}

#HumanResources_avatar {
	background: #ffffff;
	cursor: pointer;
}

.hot-key-highlight {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-box-shadow: 0 0 1px 1px #FFFFFF;
	box-shadow: 0 0 1px 1px #FFFFFF;
	background-color: #3A87AD;
	border-radius: 9px;
	color: #FFFFFF;
	font-size: 11.844px;
	font-weight: bold;
	height: 18px;
	line-height: 14px;
	margin: -8px 0 0 -8px;
	padding: 2px 1px 2px 0;
	text-align: center;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	vertical-align: baseline;
	width: 18px;
	white-space: nowrap;
	z-index: 1;
}