.hiding {display: none;}
.text-right {
	text-align: right;
}
.btn-group {
	display: inline-block;
}
.row .span3 {
	white-space: nowrap;
}
.row label {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.row label:hover {
	overflow: visible;
}
.row input.hasDatepicker, .row .add-on, .row-fluid input.hasDatepicker, .row-fluid .add-on {
	cursor: pointer;
}
.style-switcher {
	display: none;
}
.subnav.navbar-fixed-top {
	z-index: 1020;
}

.navbar-search .search-query {
	width: 250px;
}

.navbar-search div.search-query {
	padding: 0;
}

a.search-button {
	display: none;
}

.grid-view table.items th, .grid-view table.items td {
	font-size: 1.2em !important;
	line-height: 1.5em;
}

.grid-view table.items th {
	font-size: 1.3em !important;
}

.bootstrap-datetimepicker-widget, .ui-datepicker {
	z-index: 1040 !important;
}

#HumanResources_avatar, #Projects_logo, #Projects_icon {
	background: #ffffff;
	cursor: pointer;
}

.hot-key-highlight {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-box-shadow: 0 0 1px 1px #FFFFFF;
	box-shadow: 0 0 1px 1px #FFFFFF;
	background-color: #3A87AD;
	border-radius: 9px;
	color: #FFFFFF;
	font-size: 11.844px;
	font-weight: bold;
	height: 18px;
	line-height: 14px;
	margin: -8px 0 0 -8px;
	padding: 2px 1px 2px 0;
	text-align: center;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	vertical-align: baseline;
	width: 18px;
	white-space: nowrap;
	z-index: 1;
}

#projects_list .items .view {
	background-color: #ffffff;
	margin-right: 20px;
	float: left;
	position: relative;
	max-width: 250px;
	min-width: 250px;
}

#projects_list .view h4 {
	background-color: #dff0d8;
	padding: 6px 16px;
	margin-top: 0;
	/*text-align: center;*/
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

#frees .view h4 {
	text-align: center;
}

#projects_list h4 img {
	float: left;
	height: 20px;
	margin-right: 8px;
	width: 20px;
}

#projects_list .view .label.pull-right {
	position: absolute;
	top: 2px;
	right: 2px;
}

#projects_list .view .item-list {
	position: relative;
}

#projects_list .item-list .human-resource {
	border-left: 5px solid #ffffff;
	cursor: default;
	font-size: 1.2em;
	line-height: 1.6em;
	padding: 3px 10px;
	margin: 2px 0;
	z-index: 10;
}

#projects_list .item-list .human-resource:hover {
	border-color: #B9D5F1;
}

#projects_list .human-resource .edit-button {
	display: none;
	padding: 0 5px;
}

#projects_list .human-resource .btn {
	font-size: 1em;
	line-height: 1em;
}

#projects_list .wt-apply .icon {
	margin-top: 0;
	-moz-transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

#projects_list .edit-button .wt-apply {
	border-color: #ffffff;
	border-image: none;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	border-style: solid;
	border-width: 2px;
	display: inline-block;
	font-size: 1em;
	height: 14px;
	line-height: 1em;
	padding: 1px;
	position: relative;
	-moz-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}

#projects_list .edit-button .wt-apply:before {
	border-color: #92EB00 transparent transparent #92EB00;
	border-image: none;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	border-style: solid;
	border-width: 2px;
	content: "";
	display: block;
	height: 16px;
	left: -2px;
	position: absolute;
	top: -2px;
	-moz-transform: rotate(-90deg);
	-webkit-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	transform: rotate(-90deg);
	width: 16px;
}

#projects_list .edit-button .wt-apply:after {
	border-color: transparent #ffffff #ffffff;
	border-image: none;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	border-style: solid;
	border-width: 4px;
	content: "";
	display: block;
	height: 15px;
	left: -3px;
	position: absolute;
	top: -3px;
	width: 15px;
}

#projects_list .item-list {
	min-height: 100px;
}

#frees .work-time-edit {
	display: none;
}

.dialog_form {
	margin: 0;
}

label.error {
	color: red;
	font-size: 1em;
	margin-top: -5px;
}

/*========== loading ==========*/
.saving-busy {
	color: #2187e7;
	display: none;
	position: relative;
	margin: -2px 0 0 5px;
	overflow: visible;
	width:24px;
	height:24px;
}

/* STOP ANIMATION */

.saving-busy .stop {
	-webkit-animation-play-state:paused;
	-moz-animation-play-state:paused;
}

/* Second Loadin Circle */

.saving-busy:before { /*.circle*/
	background-color: rgba(0,0,0,0);
	border:2px solid rgba(0,183,229,0.9);
	content: "";
	display: block;
	opacity:.9;
	border-right:2px solid rgba(0,0,0,0);
	border-left:2px solid rgba(0,0,0,0);
	border-radius:50%;
	-webkit-border-radius: 50%;
	box-shadow: 0 0 16px #2187e7;
	-webkit-box-shadow: 0 0 16px #2187e7;
	width:20px;
	height:20px;
	margin:0 auto;
	position:absolute;
	-moz-animation:spinPulse 1.3s infinite ease-in-out;
	-webkit-animation:spinPulse 1.3s infinite linear;
}
.saving-busy:after { /*.circle1*/
	background-color: rgba(0,0,0,0);
	border:2px solid rgba(0,183,229,0.9);
	content: "";
	display: block;
	opacity:.9;
	border-left:2px solid rgba(0,0,0,0);
	border-right:2px solid rgba(0,0,0,0);
	border-radius:50%;
	-webkit-border-radius: 50%;
	box-shadow: 0 0 5px #2187e7;
	-webkit-box-shadow: 0 0 5px #2187e7;
	width:12px;
	height:12px;
	margin:0 auto;
	position:absolute;
	top: 4px;
	left: 4px;
	-moz-animation:spinoffPulse 1.3s infinite linear;
	-webkit-animation:spinoffPulse 1.3s infinite linear;
}

@-moz-keyframes spinPulse {
	0% { -moz-transform:rotate(160deg); opacity:0; box-shadow:0 0 2px #2187e7; -webkit-box-shadow:0 0 2px #2187e7;}
	50% { -moz-transform:rotate(155deg); opacity:1; }
	100% { -moz-transform:rotate(-320deg); opacity:0; }
}
@-moz-keyframes spinoffPulse {
	0% { -moz-transform:rotate(0deg); }
	100% { -moz-transform:rotate(360deg); }
	0% { -moz-transform:rotate(-67deg); }
	25% { -moz-transform:rotate(45deg); }
	50% { -moz-transform:rotate(70deg); }
	100% { -moz-transform:rotate(294deg); }
}
@-webkit-keyframes spinPulse {
	0% { -webkit-transform:rotate(160deg); opacity:0; box-shadow:0 0 2px #2187e7; -webkit-box-shadow:0 0 2px #2187e7; }
	50% { -webkit-transform:rotate(155deg); opacity:1;}
	100% { -webkit-transform:rotate(-320deg); opacity:0; }
}
@-webkit-keyframes spinoffPulse {
	0% { -webkit-transform:rotate(0deg); }
	100% { -webkit-transform:rotate(360deg); }
	0% { -webkit-transform:rotate(-67deg); }
	25% { -webkit-transform:rotate(45deg); }
	50% { -webkit-transform:rotate(70deg); }
	100% { -webkit-transform:rotate(294deg); }
}

/*========== loading ==========*/

/*========== css for timepicker ==========*/
/* css for timepicker */
.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { float: left; clear:left; padding: 0 0 0 5px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 45%; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }

.ui-timepicker-rtl{ direction: rtl; }
.ui-timepicker-rtl dl { text-align: right; padding: 0 5px 0 0; }
.ui-timepicker-rtl dl dt{ float: right; clear: right; }
.ui-timepicker-rtl dl dd { margin: 0 45% 10px 10px; }

/*========== css for timepicker ==========*/
